GPUtil
PyPDF2
faiss-cpu
fastapi
googlesearch-python
llama-index-llms-ollama
llama_index
fastmcp
ollama
psutil
pydantic
pydantic_ai
pymupdf
python-docx
sentence-transformers
llama-index-tools-mcp
arxiv
scholarly
lxml
paperscraper
moviepy
git+https://github.com/openai/whisper.git
gradio